html , body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.hamburguer{
    height: 3.3rem;
}

/* Página inicial*/
.perfil{
    height: 5rem;
    background-color: #203040;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hello{
    display: flex;
    justify-content: center;
    color: #D0D0D0;
    font-family: sans-serif;
}

.img-usuario{
    height: 4rem;
}

.username{
    color: #ffffff;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.grafico-home{
    width: 90%;
}

.iniciar{
    height: 4rem;
    width: 95%;
    background-color: #80A080 ;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scanner{
    height: 4rem;
    width: 95%;
    background-color: #80A080 ;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*Página da rota*/
.img-seta{
    height: 3rem;
    width: 3rem;
}

.icone-seta-pin-qrcode{
    height: 2.7rem;
    width: 2.7rem;
}

.imgmapa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.principal {
    position: fixed; 
    background-color: rgba(242,233,228); 
    border: 2px solid black;
    left: 400px;
    top: 300px;
    margin: 10px;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
}

.aviso img{
    width: 10px;
}


/* Página de entregas*/
.caixa{
    height: 5rem;
}

.hearder-entregas{
    height: 5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid black;
}

.titulo-entregas{
    font-size: 1.5rem;
    font-family: sans-serif;
}


/*Página de metas*/
.header-metas{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid black;
}

.cifrao{
    height: 5rem;
}

.titulo-metas{
    font-size: 1.5rem;
    font-family: sans-serif;
}