html , body {
    height: 100%;
    width: 100%;
    background-color: #f0e0e0;
}

main{
    position: absolute;
    top: 5rem;
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    height: 5rem;
    width: 100%;
    position: fixed;
    background-color: #203040;
    z-index: 1000;
}

.hamburguer{
    height: 3.3rem;
}

.voltar{
    height: 3.3rem;
}

/* Página inicial*/

.perfil{
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hello{
    display: flex;
    justify-content: center;
    color: #D0D0D0;
    font-family: sans-serif;
}

.img-usuario{
    height: 4rem;
}

.username{
    color: #f0e0e0;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estat{
    position: relative;
    top: 1rem;
    height: 100%;
    width: 90%;
    background-color: white;
    border-radius: 3rem;
}

.info-graf{
    position: relative;
    padding: 1rem 4rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.ver-mais{
    width: 5rem;
    height: 1.5rem;
    color:#80A080;
    background-color: #f0e0e0;
    border-radius: 3rem;
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
}

.grafico-home{
    width: 80%;
    display: flex;
    justify-self: center;
    align-self: center;
}

.iniciar{
    height: 4rem;
    width: 100%;
    background-color: #80A080 ;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.scanner{
    height: 4rem;
    width: 100%;
    background-color: #80A080 ;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.titulo-pagina{
    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
}

/*Página de menu*/

.op-menu{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-family: sans-serif;
    border-bottom: 0.1rem solid black;
    padding: 1.5rem;
}

.header-menu{
    height: 5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.link-casa{
    position: absolute;
    left: 1rem;
}

.casinha{
    height: 3.3rem;
}

/*Página da rota*/

.img-seta{
    height: 3rem;
    width: 3rem;
}

.icone-seta-pin-qrcode{
    height: 2.7rem;
    width: 2.7rem;
}

.imgmapa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.principal {
    position: fixed; 
    top: 70%;
    right: 20%;
    background-color: rgba(242,233,228); 
    border: 0.1rem solid black;
    border-radius: 0.5rem;

    width: 70%;
    height: 10rem;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aviso img{
    width: 0.6rem;
}


/* Página de entregas*/
.caixa{
    height: 5rem;
}

.header-paginas{
    height: 5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dia-titulo{
    font-size: 1rem;
    font-family: sans-serif;
    color: #203040;
    padding: 0.5rem;
    
}

.lista-entregas{
    padding: 0.5rem 1rem;
    margin: 0;

    border-bottom: 0.1rem solid black;
}

.meses{
    width: 100%;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
}

.meses li{
    width: 100%;
    margin-bottom: 1rem;
}

.lista-meses{
    display: flex;
    width: 100%;
    height: 4.5rem;
    justify-content: space-around;
    align-items: center;

    border: black solid 0.1rem;
    border-radius: 0.25rem;
}

.titulo-selecionar{
    font-size: 1.2rem;
    font-family: sans-serif;
    margin: 0.5rem;
}

.mes{
    font-size: 1.5rem;
    font-family: sans-serif;
    color: black;
}


/*Página de metas*/
.header-metas{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-metas{
    background-color: white;
}

.cifrao{
    height: 4rem;
    padding: 0.5rem;
}

.grafico-metas{
    width: 90%;
    display: flex;
    justify-self: center;
    align-self: center;

    margin-top: 5rem;
    border-radius: 1rem;
}

.botao-metaF{
    margin-top: 1rem;
    height: 3rem;
    width: 70%;
    background-color: #80A080 ;
    border-radius: 0.5rem;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.detalhes-meta{
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
}

.meta-dia{
    padding: 0.5rem 1rem;
    margin-top: 4rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 0.1rem;
    background-color: whitesmoke;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 0.5rem;

    padding-top: 1rem;
}

.meta-dia li{
    font-family: sans-serif;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 1rem;
}

.meta-dia h2{
    font-weight: bold;
}

.botao-metaF img{
    height: 0.7rem;
    margin-left: 0.5rem;
}
.main-metas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.main-metas h2{
    font-family: sans-serif;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
}

.main-metas ul li{
    font-family: sans-serif;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 0.5rem;
    border: black solid 0.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: whitesmoke;
}

.main-metas h3{
    font-family: sans-serif;
    font-size: 1.5rem;
    color: black;
    margin-top: 2rem;
}


/*Página de scanner*/

.qr-code-scanner{
    height: 3rem;
    padding-right: 1rem;
}

.main-scanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.main-scanner h2{
    font-family: sans-serif;
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
}
.main-scanner ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.main-scanner ul{
    width: 70%;
    font-family: sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;

    border: black solid 0.1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.main-scanner ul li{
    margin: 0.5rem;
    font-weight: bold;

}

.main-scanner a{
    width: 70%;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;

    color: white ;
    background-color: #203040;
    border: black solid 0.1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.main-scanner a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-qrcode{
    height: 20rem;
    width: 15rem;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top:1.5rem;
}


#menu-lateral {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #203040;
    z-index: 2000;
    box-sizing: border-box;
    padding-top: 6rem;
    
    flex-direction: column;
    align-items: center;
}

#menu-lateral.ativo {
    display: flex !important;
}

.container-casa-menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.5rem; 
    box-sizing: border-box; 
    margin-bottom: 2rem;         
}

.link-casa-menu {
    display: block;
}

.link-casa-menu img {
    height: 3.5rem;
    width: auto;
}

/* Lista de Opções */
#menu-lateral ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu-lateral li {
    width: 100%;
}

#menu-lateral .op-menu {
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
    border-bottom: 0.1rem solid #D0D0D0;
    padding: 1.5rem;
    box-sizing: border-box;
}

#fechar-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2100;
}